// Place all the styles related to the admins/tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./admin_variable.scss";


.adminTop {
    @include container();
}

.episodeBlock {
    margin: 0 auto;

    &__section {
        margin: 2em 0;
    }

    &__name {
        margin-left: 0.5em;
    }
  
    &__title {
        margin: 0 0.5em;
    }
  
    &__page {
        margin-top: 1em;
    }
}

.proverbBlock {
    margin: 0 auto;

    &__section {
        margin: 2em 0;
    }

    &__name {
        margin-left: 0.5em;
    }

    &__title {
        margin: 0 0.5em;
    }
  
    &__page {
        margin-top: 1em;
    }
}