// Place all the styles related to the admins/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./admin_variable.scss";

.userIndex {
    @include container();

    &__section {
        @include section();
    }

    &__table {
        @include tableSet(100%);
    }

    &__line {
        @include trSet();
    }

    &__label {
        @include thSet();
    }

    &__body {
        @include tdSet();
        text-align: left;
    }

    &__body--check {
        @include tdSet();
        font-size: 2em;
        color: #ee1c1c;
    }
}

.profile {
    @include container();

    &__section {
        @include section();
    }

    &__name {
        font-size: 1.3em;
        font-weight: bold;
    }

    &__label {
        margin-top: 1.1em;
        font-size: 1.3em;
        font-weight: bold;
    }

    &__introduction {
        margin: 0 auto;
        width: 300px;
        height: 100px;
    }

    &__button {
        @include button-fade(#e74949, #ee9f7a);
    }
}

.letter {
    @include container();
}
