<% if episode.bookmarked_by?(current_user) %>
<li>
    <%= link_to episode_episode_bookmarks_path(episode), method: :delete, remote: true do %>
    <i class="fas fa-bookmark"></i>
    <% end %>
</li>
<% else %>
<li>
    <%= link_to episode_episode_bookmarks_path(episode), method: :post, remote: true do %>
    <i class="far fa-bookmark"></i>
    <% end %>
</li>
<% end %>
<p>お気に入り件数： <%= episode.episode_bookmarks.count %> </p>
