<div class="episodeSearch">
<%= text_field_tag :title, :'', placeholder:'検索', autocomplete:'on', class:"episodeSearch__form" %>

<ul class="episodeResult">
<%= render partial: 'result', collection: @results %>
</ul>

</div>
