<div class="about">
    <h1 class="about__title">「いとをかし」とは</h1>
    <div class="about__body">
        平安時代の「枕草子」で用いられた<span>「いとをかし」</span><br>
        <span>「いと」</span>は「とても」「非常に(大きい)」<br>
        <span>「をかし」</span>は「興味深い」「かわいい」「素晴らしい」等の幅広い意味を持ちます。<br>
        現代の言葉で訳すなら、「いとをかし」は<span>「めっちゃエモい」</span>となるでしょう。<br>
        そんな「いとをかし」な、あなたのエピソードを是非みんなと共有してみませんか??<br>
        今日１日が終わる家でのリラックスタイムに<br>
        当サイトに是非、アクセスしてみてください。<br>
        ちょっとしたことで構いません。<br>
        今日を振り返って、幸せなことがあった人、良いことがあった人は<br>
        「いとをかし」な、あなたのエピソードを教えてください。<br>
        今日を振り返って、嫌な事があったりなどして落ち込んでいる人は<br>
        みんなのエピソードを読んで少しほっこりして頂けたら幸いです。<br>
        今日、あなたに起こった幸せなエピソードで<br>
        今日、気分が落ち込んでいる誰かの気持ちを少し明るくできたら<br>
        それは、お互いにハッピーではないでしょうか。<br>
        当サイトは、そんなマッチングを通して全ての利用者が<br>
        明るい気持ちで眠りにつかれることを願っています。
    </div>

    <%= link_to "ログイン", new_user_session_path, class:"about__login" %>
    <%= link_to "新規登録", new_user_registration_path, class:"about__signup" %>

    <div class="about__image"></div>

</div>