<div class="about">
<h2 class="top__title">ようこそ、「いとをかし」へ</h2>
<%= link_to "ログイン", new_user_session_path, class:"top__login" %>
<%= link_to "新規登録", new_user_registration_path, class:"top__signup" %>
</div>
