<div class="top">
<h1 class="top__title">
Welcome to<br>いとをかし
<!--<span>よ</span><span>う</span><span>こ</span><span>そ</span><span>、</span><span>い</span><span>と</span><span>を</span><span>か</span><span>し</span><span>へ</span> -->
</h1>
<%= link_to "ログイン", new_user_session_path, class:"top__login" %>
<%= link_to "新規登録", new_user_registration_path, class:"top__signup" %>
</div>