<div class="about">
<h1 class="top__title">いとをかしへ<br>ようこそ</h1>
<%= link_to "ログイン", new_user_session_path, class:"top__login" %>
<%= link_to "新規登録", new_user_registration_path, class:"top__signup" %>
</div>
