<div class="topSection">
    <div class="top">
        <h1 class="top__title">
            「いとをかし」へ ようこそ
        </h1>
        <p class="top__subtitle">いとをかしは、全ての利用者が前向きな気持ちで明日を迎えて頂きたい願いから作られました。</p>
    </div>
</div>
<div class="detailSection">
    <div class="detail">
        <div class="detail__header">
            <h2>”いとをかし”って、どんなサイト??</h2>
        </div>
    </div>
    <div class="sideLeft">
        <p>当サイトは、<span>天狗の天ちゃん</span>が運営するWebサイトでございます。<br>
            近頃、SNS上で有名人や一般人が誹謗中傷や心ない言葉で不幸に<br>
            なっている現状を天狗の天ちゃんは、とても心を痛めています。<br>
            言葉は時として、人を<span>勇気づける</span>ことも<span>傷つける</span>こともできるものです。<br>
            それだけ、言葉が持つ力には無限の可能性があると天ちゃんは思っています。<br>
            当サイトは、他人を<span>不幸にするのではなく</span>全ての利用者が<span>前向きな気持ちになってほしい</span>という<br>
            願いを込めたSNSとなっております。<br><br>

            仕事や学校が終わり帰宅後、ベッドに入られるまでの時間はあなたにとって<br>
            一番のリラックス時間だと思います。<br>
            そこで、今日１日を振り返って頂き<span>良いことや幸せなこと</span>があった際には<br>
            是非、当サイトでそのエピソードを投稿して頂けると幸いです。<br>
            また、<span>好きな言葉や勇気づけられた言葉</span>などありましたら<br>
            是非、「みんなの格言」というページに投稿して頂けると幸いです。<br>
            もし今日１日が嫌な日であった方は、投稿されたエピソードや格言を読んで頂き<br>
            <span>ほっこりして頂けたら幸い</span>です。<br><br>

            新規登録もしくはログインをして頂きましたら、天ちゃんの落とし文が表示されますので<br>
            そちらも楽しみにして下さると天ちゃんは喜びます。<br>
            では、また後ほど...
        </p>
    </div>
    <div class="sideRight"></div>
</div>
<div class="detailSection">
    <div class="detail">
        <div class="detail__header">
            <h2>どうして名前が、”いとをかし”??</h2>
        </div>
    </div>
    <div class="sideLeft">
        <p>平安時代の「枕草子」で用いられた<span>「いとをかし」</span><br>
            その意味は、<span>「いと」</span>が「とても」や「非常に(大きい)」<br>
            <span>「をかし」</span>は、「興味深い」「かわいい」「素晴らしい」等の幅広い意味を持ちます。<br>
            これを現代の言葉で訳すなら、「いとをかし」は<span>「めっちゃエモい」</span>となるでしょう。<br>
            そんな<span>「めっちゃエモい」「いとをかし」</span>なエピソードや言葉で<br>
            当サイトを埋め尽くして頂きたいと天ちゃんは思います。<br>

            みんな同じ１日を過ごしていますが、起きる出来事は<span>十人十色</span>です。<br>
            今日、あなたに起こった「いとをかし」なエピソードを共有して分かち合うことで<br>
            喜びは自分だけのものではなく、他の方の気持ちも<span>明るくできる</span>かもしれません。<br>
            また同じく今日、気分が落ち込んでいる誰かの気持ちが<span>貴方の投稿で少し明るく</span>できたら<br>
            それは、<span>お互いにハッピー</span>なのではないでしょうか。<br>
            そんなマッチングを通して<span>全ての利用者</span>が<br>
            <span>明るい気持ち</span>で眠りにつかれることを、天ちゃんは願っています。</p>
    </div>
    <div class="sideRightLeaf"></div>
</div>
<div class="bottomSection">
    <div class="bottom">
        <div class="bottom__text">
            <h2>是非、あなたのエピソードを教えてください。</h2>
            <h3>Let's join us! We are waiting for you!</h3>
        </div>
        <div class="buttonGroup">
            <%= link_to "ログインはこちら", new_user_session_path, class:"buttonGroup__login" %>
            <%= link_to "新規登録はこちら", new_user_registration_path, class:"buttonGroup__signup" %>
        </div>
    </div>
</div>