<div class="topSection">
    <div class="top">
        <p class="top__subtitle">天狗が運営する言葉の共有サービス</p>
        <h1 class="top__title">
            「いとをかし」へ ようこそ
        </h1>
    </div>
</div>
<div class="detailSection">
    <div class="detail">
        <div class="detail__header">
            <h2>”いとをかし”って、どんなサイト??</h2>
        </div>
    </div>
    <div class="sideLeft">
        <p>当サイトは、<span>天狗の天ちゃん</span>が運営するWebサイトでございます。<br>
            SNSが登場してから、有名人や一般人が誹謗中傷や心ない言葉で<br>
            不幸になっている現状を天ちゃんは、とても心を痛めています。<br>
            言葉は時として、人を<span>喜ばせる</span>ことも<span>傷つける</span>こともできるものです。<br>
            それだけ、言葉が持つ力は強いと天ちゃんは思っています。<br>
            他人を<span>不幸にするのではなく</span>全ての利用者が<span>明るい気持ちになれる</span><br>
            そんなSNSがあっても良いのでは、と考えこのサービスが生まれました。<br><br>

            仕事や学校が終わり帰宅後、ベッドに入られるまでの時間はあなたにとって<br>
            一番のリラックスタイムだと思います。<br>
            そこで、今日１日を振り返って頂き<span>良いことや幸せなこと</span>があった際には<br>
            是非、当サイトでそのエピソードを投稿して頂けると幸いです。<br>
            また、<span>好きな言葉や勇気づけられた言葉</span>などありましたら<br>
            是非、そちらも投稿して頂けると幸いです。<br>
            もし今日、嫌なことがあった方は、投稿されたみんなのエピソードや格言から<br>
            <span>ほっこりして頂けたら幸い</span>です。<br><br>
        </p>
    </div>
    <div class="sideRight"></div>
</div>
<div class="detailSection">
    <div class="detail">
        <div class="detail__header">
            <h2>どうして名前が ”いとをかし” なの??</h2>
        </div>
    </div>
    <div class="sideLeft">
        <p>平安時代の「枕草子」で用いられた<span>「いとをかし」</span><br>
            その意味は、<span>「いと」</span>が「とても」や「非常に(大きい)」<br>
            <span>「をかし」</span>は、「興味深い」「かわいい」「素晴らしい」等の幅広い意味を持ちます。<br>
            これを現代の言葉で訳すなら、「いとをかし」は<span>「めっちゃエモい」</span>となるでしょう。<br>
            そんな<span>「めっちゃエモい」「いとをかし」</span>なエピソードや言葉で<br>
            当サイトを埋め尽くして頂きたいと天ちゃんは思います。<br>

            みんな同じ１日を過ごしていますが、起きる出来事は<span>十人十色</span>です。<br>
            今日、あなたに起こった「いとをかし」なエピソードを共有して分かち合うことで<br>
            喜びは自分だけのものではなく、他の方の気持ちも<span>明るくできる</span>かもしれません。<br>
            また同じく今日、気分が落ち込んでいる誰かの気持ちが<span>貴方の投稿で少し明るく</span>できたら<br>
            それは、<span>お互いにハッピー</span>なのではないでしょうか。<br>
            そんなマッチングを通して<span>全ての利用者</span>が<br>
            <span>明るい気持ち</span>で眠りにつかれることを、天ちゃんは願っています。</p>
    </div>
    <div class="sideRightLeaf"></div>
</div>
<div class="bottomSection">
    <div class="bottom">
        <div class="bottom__text">
            <h2>是非、あなたの言葉を教えてください</h2><br>
            <h3>新規登録もしくはログインをして頂きましたら、天ちゃんの落とし文が表示されますので<br>
                そちらも楽しみにして下さると天ちゃんは喜びます...</h3>
        </div>
        <div class="buttonGroup">
            <% if user_signed_in? %>
            <%= link_to "みんなのエピソードへ", episodes_path, class:"buttonGroup__button" %>
            <%= link_to "みんなの格言へ", proverbs_path, class:"buttonGroup__button--proverb" %>
            <% else %>
            <%= link_to "ログインはこちら", new_user_session_path, class:"buttonGroup__button--login" %>
            <%= link_to "新規登録はこちら", new_user_registration_path, class:"buttonGroup__button--signup" %>
            <% end %>
        </div>
    </div>
</div>