<div class="topSection">
    <div class="top">
        <h1 class="top__title">
            「いとをかし」へ ようこそ
        </h1>
        <p class="top__subtitle">いとをかしは、就寝前の今日１日を振り返る時に訪問していただくサービスです。</p>
    </div>
</div>
<div class="detailSection">
    <div class="detail">
        <div class="detail__header">
            <h2>”いとをかし”って、どんなサイト??</h2>
        </div>
    </div>
    <div class="sideLeft">
        <p>平安時代の「枕草子」で用いられた<span>「いとをかし」</span><br>
            <span>「いと」</span>は「とても」「非常に(大きい)」<br>
            <span>「をかし」</span>は「興味深い」「かわいい」「素晴らしい」等の幅広い意味を持ちます。<br>
            現代の言葉で訳すなら、「いとをかし」は<span>「めっちゃエモい」</span>となるでしょう。<br>
            そんな<span>「いとをかし」</span>な、あなたのエピソードを是非みんなと共有してみませんか??<br>
            今日１日が終わる家での<span>リラックスタイム</span>に<br>
            当サイトに是非、アクセスしてみてください。<br>
            ちょっとしたことで構いません。<br>
            今日を振り返って、<span>幸せなこと</span>があった人、<span>良いこと</span>があった人は<br>
            あなたのエピソードを教えてください。<br>
            今日を振り返って、嫌な事があったりなどして落ち込んでいる人は<br>
            みんなのエピソードを読んで<span>少しほっこり</span>して頂けたら幸いです。<br>
            今日、あなたに起こった幸せなエピソードで<br>
            今日、気分が落ち込んでいる誰かの気持ちを<span>少し明るく</span>できたら<br>
            それは、<span>お互いにハッピー</span>ではないでしょうか。<br>
            当サイトは、そんなマッチングを通して<span>全ての利用者</span>が<br>
            <span>明るい気持ち</span>で眠りにつかれることを願っています。</p>
    </div>
    <div class="sideRight"></div>
</div>
<div class="bottomSection">
    <div class="bottom">
        <div class="bottom__text">
            <h2>是非、あなたのエピソードを教えてください。</h2>
            <h3>Let's join us! We are waiting for you!</h3>
        </div>
        <div class="buttonGroup">
            <%= link_to "ログインはこちら", new_user_session_path, class:"buttonGroup__login" %>
            <%= link_to "新規登録はこちら", new_user_registration_path, class:"buttonGroup__signup" %>
        </div>
    </div>
</div>