/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./user_variable";


body {
  font-family: "Hiragino Kaku Gothic ProN"
}

a {
  text-decoration: none;
}

header {
  background-color: #45B6ED;
}

li {
  list-style: none;
}

.errorMessage {
  color: #dd1212;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.flashMessage {
  text-align: center;
  font-weight: bold;
}

.headerArea {
  display: flex;
  align-items: center;
  @include container();

  &__logo {
    display: flex;
    width: 100px;
    height: 100px;
    background-image: image-url("logo.png");
    background-size: cover;
    margin-left: 5%;
  }

  &__nav {
    margin-left: auto;
  }

  &__nav li {
    display: inline-block;
  }

  &__search {
    margin-right: 5%;
    margin-left: 2%;
  }
}

.mainArea {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.signup {
  @include container();

  &__section {
    @include section();
  }

  &__nav {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
  }

  &__button {
    @include button-fade(#2288e7, #3ca5e2);
  }

  &__button--login {
    @include button-fade(#1cd31c, #57d380);
    margin-top: 10px;
  }

  &__loginNavi--google {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
  }

  &__button--google {
    margin-top: 20px;
  }
}

.input {
  @include input();
}

.signin {
  @include container();

  &__section {
    @include section();
  }

  &__nav {
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__button {
    @include button-fade(#2288e7, #3ca5e2);
    margin: 30px;
  }

  &__nav--google {
    font-weight: bold;
    margin: 20px 0;
    font-size: 1.3em;
  }
}

.timeline {

  &__name {
      margin: 0 0.5em;
  }

  &__body {
      margin: 0 0.5em;
  }

  &__page {
      margin-top: 1em;
  }

}

.userProfile {
  margin: 0 30px;

  &__image {
  }

  &__name {
      margin: 0.5em 0;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #000000;
  }

  &__button {
      @include button-fade(#2288e7, #3ca5e2);
  }

  &__button--search {
      @include button-fade(#8f2eeb, #cd93ee);
  }

  &__button--edit {
      @include button-fade(#9ec34b, #cbe585);
  }

  &__button--bookmark {
      @include button-fade(#d8691f, #e7b26c);
  }
}

footer {
  @include container();
}

.inquiry {
  float: right;
}



.adminLogin {

  &__title {}

  &__button {}
}