/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "./user_variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: rgba($color: #F0F8FF, $alpha: 0.1);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

header {
  width: 100%;
}

.errorMessage {
  color: #e21717;
  font-size: 1.5em;
}

.headerArea {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__logo {
    display: flex;
    width: 350px;
    height: 50px;
    background-image: image-url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5%;
  }

  &__nav {
    flex: right;
    & li {
      display: inline-block;
    }
  }

}

.mainArea {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

.signup {
  @include container();

  &__section {
    @include section();
  }

  &__nav {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
  }

  &__button {
    @include button-fade(#2288e7, #3ca5e2);
  }

  &__button--login {
    @include button-fade(#1cd31c, #57d380);
    margin-top: 10px;
  }

  &__loginNavi--google {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
  }

  &__button--google {
    margin-top: 20px;
  }
}

.input {
  @include input();
}

.signin {
  @include container();

  &__section {
    @include section();
  }

  &__nav {
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__button {
    @include button-fade(#2288e7, #3ca5e2);
    margin: 30px;
  }

  &__nav--google {
    font-weight: bold;
    margin: 20px 0;
    font-size: 1.3em;
  }
}

.timeline {

  &__name {
      margin: 0 0.5em;
  }

  &__body {
      margin: 0 0.5em;
  }

  &__page {
      margin-top: 1em;
  }

}

.userProfile {
  margin: 0 30px;

  &__name {
      margin: 0.5em 0;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #000000;
  }

  &__button {
      @include button-fade(#2288e7, #3ca5e2);
  }

  &__button--search {
      @include button-fade(#8f2eeb, #cd93ee);
  }

  &__button--edit {
      @include button-fade(#9ec34b, #cbe585);
  }

  &__button--bookmark {
      @include button-fade(#d8691f, #e7b26c);
  }
}


.editPassword {
  @include container();

  &__section {
      @include section();
  }

  &__button {
      @include button-fade(#2288e7, #3ca5e2);
  }
}

footer {
  @include container();
  padding-top: 10px;
  border-top: 2px solid rgba($color: #78bae6, $alpha: 0.5);
}

.inquiry {
  float: right;
}
