// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./user_variable";

.bookmark {

    &__section {
    }
}

.episodeBookmarks {

    &__name {
        margin: 0 10px;
    }

    &__body {
        margin: 0 10px;
    }
}

.proverbBookmarks {
    
    &__name {
        margin: 0 10px;
    }

    &__body {
        margin: 0 10px;
    }
}