// Place all the styles related to the episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./user_variable";

.indexEpisode {

        &__section {

    }
}

.favorite {


    &__section {
        font-size: 24px;
    }

    &__episode {
        margin-right: 30px;
    }

    &__row {
        margin: 14px;
    }
}

.timeline {

}

.userProfile {


    &__image {
        margin: 10px;
    }

    &__name {
        margin: 10px;
    }

    &__button {

    }

    &__button--edit {

    }

    &__button--bookmark {

    }
}

.newEpisode {


    &__section {

    }
}

.showEpisode {


    &__section {

    }

}

.leftSide {

}

.rightSide {

    width: fit-content;

    &__button {

    }

    &__button--delete {

    }
}

.editEpisode {


    &__section {

    }
}