// Place all the styles related to the episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./user_variable";

.indexEpisode {
    width: 1170px;
    margin: 0 auto;
    text-align: center;

        &__section {
            @include section();
    }
}

.mainArea {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.favorite {
    margin: 0 30px;
    text-align: center;
    font-size: 20px;
    
    &__section {
        margin-bottom: 1em;
    }

    &__time {
        margin-top: 0.5em;
    }

    &__title {
        margin-right: 0.5em;
    }

    &__count {
    }
}

.timeline {

    &__name {
        margin: 0 0.5em;
    }

    &__body {
        margin: 0 0.5em;
    }

    &__page {
        margin-top: 1em;
    }

}

.userProfile {
    margin: 0 30px;

    &__image {
    }

    &__name {
        margin: 0.5em 0;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #000000;
    }

    &__button {
        @include button-fade(#2288e7, #3ca5e2);
    }

    &__button--search {
        @include button-fade(#8f2eeb, #cd93ee);
    }

    &__button--edit {
        @include button-fade(#9ec34b, #cbe585);
    }

    &__button--bookmark {
        @include button-fade(#d8691f, #e7b26c);
    }
}

.newEpisode {
    @include container();

    &__section {
        @include section();
    }

    &__button {
        @include button-fade(#2288e7, #3ca5e2);
        margin-top: 2em;
    }
}

.input {
    @include input();
}

.showEpisode {


    &__section {

    }

}

.leftSide {

}

.rightSide {

    width: fit-content;

    &__button {

    }

    &__button--delete {

    }
}

.editEpisode {


    &__section {

    }
}