// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./user_variable";

.topSection {
    padding-top: 250px;
    padding-bottom: 200px;
    color: orangered;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    text-align: center;
    background-image: image-url("wood.JPG");
    background-size: cover;

}

.top {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    &__title {
        opacity: 0.7;
        font-size: 45px;
        letter-spacing: 5px;
        margin-bottom: 15px;
    }

    &__subtitle {
        opacity: 0.7;
        margin: 15px;
        padding-top: 15px;
    }
}

.buttonGroup {
    margin-top: 20px;
    margin-bottom: 20px;

    &__login {
        @include button-fade(#9ec34b, #cbe585);
    }

    &__signup {
        @include button-fade(#9ec34b, #cbe585);
    }
}

.detailSection {
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 100px;
    height: 700px;
}

.detail {
    width: 1170px;
    margin: 0 auto;

    &__header {
        padding-top: 60px;
        padding-bottom: 30px;
        color: #5f5d60;
    }
}

.sideLeft {
    float: left;
    width: 50%;
    padding-top: 60px;
}

.sideRight {
    float: right;
    width: 50%;
    height: 540px;
    background-image: image-url("kumachan.jpg");
    background-size: cover;
}

.bottomSection {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.bottom {
    @include container();

    &__text {
        padding-top: 60px;
        padding-bottom: 30px;
        color: #5f5d60;
    }
}

.letter {
    @include container();

    &__title {
        @include section();
    }

    &__body {
        font-size: 45px;
        margin: 4em 0;
    }

    &__episode {
        @include button-fade(#9ec34b, #cbe585);
    }

    &__proverb {
        @include button-fade(#9ec34b, #cbe585);
    }
}