// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./user_variable";

.topSection {
    padding-top: 250px;
    padding-bottom: 200px;
    color: rgba($color: #f75c02, $alpha: 1.0);
    background-color: rgba(#5f5d60, 0.9);
    background-blend-mode: lighten;
    text-align: center;
    background-image: image-url("shrine.jpg");
    background-size: cover;
}

.top {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    &__title {
        font-size: 45px;
        letter-spacing: 5px;
        margin-bottom: 15px;
    }

    &__subtitle {
        margin: 15px;
        padding-top: 15px;
        font-weight: bold;
    }
}

.buttonGroup {
    margin-top: 20px;
    margin-bottom: 20px;

    &__login {
        @include button-fade(#9ec34b, #cbe585);
    }

    &__signup {
        @include button-fade(#9ec34b, #cbe585);
    }
}

.detailSection {
    text-align: center;
    padding-bottom: 100px;
    height: 670px;
}

.detail {
    width: 1170px;
    margin: 0 auto;

    &__header {
        padding-top: 60px;
        padding-bottom: 30px;
        color: #5f5d60;
    }
}

.sideLeft {
    float: left;
    width: 50%;
    padding-top: 60px;
}

.sideRight {
    float: right;
    width: 50%;
    height: 540px;
    background-image: image-url("tengu.jpg");
    background-size: cover;
}

.sideRightLeaf {
    float: right;
    width: 50%;
    height: 540px;
    background-image: image-url("leaf.jpg");
    background-size: cover;
}

.bottomSection {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.bottom {
    @include container();

    &__text {
        padding-top: 60px;
        padding-bottom: 30px;
        color: #5f5d60;
    }
}

.letter {
    @include container();

    &__title {
        @include section();
    }

    &__body {
        font-size: 45px;
        margin: 4em auto 1em auto;
    }

    &__episode {
        @include button-fade(#9ec34b, #cbe585);
    }

    &__proverb {
        @include button-fade(#9ec34b, #cbe585);
    }

    &__icon {
        background-image: image-url("tengu.jpg");
        width: 240px;
        height: 250px;
        background-size: cover;
        margin-left: auto;
    }
}