// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin background {
    position: relative;
    width: 100%;
    height: 100vh;
}

@mixin center-position($top, $left) {
    position: absolute;
    transform: translate(-50%, -50%);
    top: $top;
    left: $left;
}

@mixin button {
    display: inline-block;
    max-width: 200px;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;

    &:hover {
        background-color: #9ec34b;
        border-color: #cbe585;
        color: #FFF;
    }
}


.top {
    @include background;

    &__title {
        @include center-position(50%, 30%);
        color: rgb(17, 19, 20);
        font-weight: 300;
        line-height: 1.1666;
        letter-spacing: 0px;
        font-size: 3.5em;
        max-width: 27rem;
        line-height: 5rem;
    }

    &__login {
        @include center-position(50%, 60%);
        @include button;
    }

    &__signup {
        @include center-position(50%, 75%);
        @include button;
    }
}

.about {
    @include background();

    &__title {
        @include center-position(10%, 15%);
        text-align: center;
        font-size: 45px;
    }

    &__body {
        @include center-position(50%, 25%)
    }

    &__image {
        @include center-position(50%, 75%);
        width: 50%;
        height: 100vh;
        background-image: url(kumachan.jpg);
    }

    &__login {
        @include center-position(90%, 15%);
        @include button;
    }

    &__signup {
        @include center-position(90%, 30%);
        @include button;
    }
}

span {
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}

.letter {
    @include background();

    &__title {
        @include center-position(20%, 50%);
        text-align: center;
        font-size: 45px;
    }

    &__body {
        @include center-position(45%, 50%);
        font-size: 40px;
        text-align: center;
    }

    &__login {
        @include center-position(65%, 40%);
        @include button;
    }

    &__signup {
        @include center-position(65%, 60%);
        @include button;
    }

}