// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./user_variable";

.showUser {
    @include container();
    margin: 0 auto;

    &__section {
        @include section();
    }
}

.userProfile {

    &__image {
        margin-top: 3em;
    }

    &__section {
        font-weight: bold;
        margin: 1.5em;
    }

    &__introduction {
        margin: 0 auto;
        width: 300px;
        height: 100px;
    }

    &__button {
        @include button-fade(#9ec34b, #cbe585);
    }

    &__button--bookmark {
        @include button-fade(#d8691f, #e7b26c);
    }
}

.userEpisode {
    margin: 0 30px;
    text-align: center;
    
    &__section {
        margin-bottom: 1.5em;
    }

    &__time {
        font-size: 1em;
        margin: 1.5em;
    }

    &__title {
        font-size: 1.1em;
        margin-bottom: 1.5em;
    }
}

.userProverb {
    margin-right: 30px;
    text-align: center;
    
    &__section {
        margin-bottom: 1.5em;
    }

    &__time {
        font-size: 1em;
        margin: 1.5em;
    }

    &__title {
        font-size: 1.1em;
        margin-bottom: 1.5em;
    }
}

.editProfile {
    @include container();

    &__section {
        @include section();
    }

    &__image {
        margin: 1.5em;
    }

    &__label {
        font-size: 18px;
        font-weight: bold;
    }

    &__email {
        font-size: 1.3em;
        margin: 1.2em 0;
    }

    &__button {
        @include button-fade(#2288e7, #3ca5e2);
    }

    &__button--edit {
        @include button-fade(#9ec34b, #cbe585);
    }

    &__button--delete {
        @include button-fade(#e74949, #ee9f7a);
    }
}

.withdrawal {
    @include container();

    &__nav {
        margin: 60px auto;
        font-size: 20px;
    }

    &__button {
        @include button-fade(#2288e7, #3ca5e2);
    }

    &__button--delete {
        @include button-fade(#e74949, #ee9f7a);
    }
}