// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./user_variable";

.profile {
    text-align: center;

    &__title {
        margin: 15px;
        font-size: xx-large;
    }

    &__introductionTitle {
        margin: 10px;
        font-size: 30px;
    }

    &__introduction {
        margin: 10px;
        font-size: 25px;
    }

    &__button {

    }

    &__button--bookmark {

    }
}

.leftSide {
    margin-left: 250px;
    float: left;
}

.rightSide {
    margin-right: 350px;
    float: right;

    &__button {
        color: #fff;
        background-color: #007bff;
        border-color: #97afc9;
    }
}

.itemBox {
    display: flex;
    margin: 30px auto;

    &__subject {
        margin-right: 50px;
    }

    &__subject--rightMarginSmall {
        margin-right: 25px;
    }

    &__form {
        margin: 0 20px;
    }

    &__button {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
}